PORT=

# admin
ADMIN_EMAIL=

# clerk - express
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# MONGO DB
MONGODB_URI=
DB_NAME=

# cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# environment
NODE_ENV=